.chart-page-title {
    margin: 10px 0 10px 0;
}

.chart-container {
    margin: 10px 0 10px 0;
}

.chart-builder-section {
    margin: 10px 0 20px 0;
}

.example-card {
    /*background-color: dodgerblue;*/
    margin: 10px 0 20px 0;
}